{% extends "layout.html" %}

{% block title %}
    - Home
{% endblock %}

{% block body %}
    <div class="page-content">
        <h1>Welcome to TheAnte, {{ current_user.first_name }}</h1>
        <p>We're glad to have you back. Get ready for some exciting poker action!</p>
    </div>
    
    <div class="dashboard">
        <div class="box" data-box="1" data-href="/rules">
            <div class="gradient"></div>
            <img src="static/images/TheAnte_rules.png" alt="Image 1" class="box-img">
            <div class="description">
                <h3>Poker Rules</h3>
                <p>Learn the basics of poker, including hand rankings, and betting rounds.</p>
              </div>
        </div>
        <div class="box" data-box="2" data-href="/game">
            <div class="gradient"></div>
            <img src="static/images/TheAnte_game.png" alt="Image 2" class="box-img">
            <div class="description">
                <h3>Play the Game</h3>
                <p>Ready to test your skills? Let's play some poker!</p>
              </div>
        </div>
        <div class="box" data-box="3" data-href="/money">
            <div class="gradient"></div>
            <img src="static/images/TheAnte_money.png" alt="Image 3" class="box-img">
            <div class="description">
                <h3>Manage Money</h3>
                <p>Easily add and withdraw funds, and track your balance for a smooth poker experience.</p>
              </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="static/js/dash.js"></script>
{% endblock %}
