{% extends "layout.html" %}

{% block title %}
    - Home
{% endblock %}

{% block body %}
    <div class="page-content">
        <h1>Home</h1>
        <p>Welcome to Home!</p>
    </div>
    
    <div class="dashboard">
        <div class="box" data-box="1">
            <div class="gradient"></div>
            <img src="static/images/TheAnte_logo.png" alt="Image 1" class="box-img">
            <div class="description">
                <h3>Box 1</h3>
                <p>This is a description for Box 1.</p>
              </div>
        </div>
        <div class="box" data-box="2">
            <div class="gradient"></div>
            <img src="static/images/TheAnte_logo.png" alt="Image 2" class="box-img">
            <div class="description">
                <h3>Box 2</h3>
                <p>This is a description for Box 2.</p>
              </div>
        </div>
        <div class="box" data-box="3">
            <div class="gradient"></div>
            <img src="static/images/TheAnte_logo.png" alt="Image 3" class="box-img">
            <div class="description">
                <h3>Box 3</h3>
                <p>This is a description for Box 3.</p>
              </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="static/js/dash.js"></script>
{% endblock %}
