{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="page-content">
        <h1>TheAnte</h1>
        <h2>Welcome to <span>TheAnte</span>!</h2>
        <p>Welcome to <strong>TheAnte</strong>, your premier destination for online home poker games! Whether you're a seasoned player or new to the table, <strong>TheAnte</strong> brings the excitement of poker directly to your fingertips.</p>
        <p><strong>What You Can Do:</strong></p>
        <ul>
            <li><strong>Register & Login:</strong> Quickly create an account or log in to start playing.</li>
            <li><strong>Manage Your Funds:</strong> Add money to your account and withdraw your winnings with ease and security.</li>
            <li><strong>Play Poker:</strong> Join poker games with friends or challenge players from around the world.</li>
        </ul>
        <p>Ready to raise the stakes? It's time to <span class="cta">up the ante</span> and take your game to the next level. At <strong>TheAnte</strong>, it's all about strategy, skill, and fun.</p>
        <p class="cta"> <a href="/auth">Sign up now</a> and join the game!</p>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
